body{
    font-weight:600;
    background-image: url('assets/images/bg_footer.png');
    background-repeat: no-repeat;
    background-size:100%;
    background-position:bottom;
    animation-name:moving_background;
}
@keyframes moving_bacground{
    // background-
}
.navbar{
    //background:green;
    height:200px;
    display: flex;
    justify-content: center;
    ul{
        display:flex;
        align-items:center;
        margin-left:-400px;
    }
    li{
        margin-left:10px;
        margin-right:10px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    img{
        width:200px;
    }
    a{
        transform: scale(100%);
        transition:.3s;
    }
    a.active::after{
        content:"";
        width:100%;
        height:4px;
        background:green;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        border-radius:10px;
    }
    a::after{
        content:"";
        width:0%;
        height:4px;
        position: absolute;
        bottom:0;
        left:0;
        border-radius:10px;
        transition: .3s;
    }
    a:hover{
        transform: scale(110%);
    }
    a:hover::after{
        content:"";
        width:100%;
        height:4px;
        background:green;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        border-radius:10px;
    }
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    font-weight: bold;
    color :  #039B00;
}
.music-player{
    max-width:50px;
    max-height:50px;
    min-width:50px;
    min-height:50px;
    float:left;
    margin-left:300px;
    background-color: rgba(3, 155, 0, 0.568);
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    position:relative;
    cursor: pointer;
    img{
        width:60%;
        transition: .3s ;
        display: block;
    }
    img:hover{
        width:80%;
        transform: rotate(360deg);
    }
    .option-panel{
        position:absolute;
        width:200px;
        padding:20px;
        border-radius:25px;
        background:rgb(182, 255, 182);
        left:60px;
        box-shadow: 3px 1px 10px rgba(55, 192, 42, 0.493);
    }
}
.music-player:hover{
    background-color: #ffc400;
}
.container{
    bottom:0;
    padding-bottom:100px;
}
.sidebar{
    position: fixed;
    top:35%;
    right:5%;
    ul{
        list-style:none;
        li{
            margin:10px;
        }
        a{
            width:40px;
            height:40px;
            background-color: rgba(3, 155, 0, 0.568);
            border-radius:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition:.3s;
            img{
                width:60%;
                height:60%;
                transition: .3s;
            }            
        }
        a:hover{
            background-color: #ffc400;
            img:hover{
                width: 70%;
                height:70%;
                transform:rotate(360deg);
                color:white;
            }
            transform: scale(110%);
        }
    }
    
}
.animation-float{
    animation-name:floating;
    animation-duration:3s;
    animation-iteration-count: infinite;
    // box-shadow: 5px 10px black;
}
@keyframes floating{
    0%{transform:translateY(0px);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0px);}
}
#wavefrom{
    height:50px !important;
}
.btn{
    width:fit-content;
    border-radius: 100px;
    padding:10px;
    padding-left:25px;
    padding-right:25px;
}
.fade-in{
    animation-name:fadein;
    animation-duration:1s;
    opacity: 1;
    animation-delay:0s;
}
@keyframes fadein {
    0%{
        opacity:0;
        transform:translateY(-50px);
    }
    100%{opacity:1}
}
.delay{
    animation-name:delay;
    animation-duration: 2s;
    opacity: 1;
}
@keyframes delay{
    0%{
        opacity:0;
    }
    15%{
        opacity:0;
        transform:translateY(-50px);
    }
    100%{opacity:1}
}


.delay2{
    animation-name:delay;
    animation-duration: 4s;
    opacity: 1;
}
@keyframes delay2{
    0%{
        opacity:0;
    }
    30%{
        opacity:0;
        transform:translateY(-50px);
    }
    100%{opacity:1}
}
.character-desc{
    position: relative;
}
.btn-success{
    background-color: #039B00;
}
.character-select{
    width:fit-content;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius:20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.308);
    z-index:20;
    overflow: hidden;
    button{
        background-color: #039B00;
        color:white;
        border-style:none;
        width:40px;
        height:40px;
        border-radius:100%;
        margin:0 20px 0 20px;
    }
    .select-item{
        width:125px;
        height:125px;
        overflow: hidden;
        background:rgba(0, 128, 0, 0.37);
        margin:10px; 
        cursor:pointer;
        transition: .3s;
        img{
            width:100%;
            margin-top:10px;
            transition: .3s;
        }
        img:hover{
            transform: scale(200%);
            margin-top:80px;
        }        
    }
    .select-item:hover{
        transform: scale(110%);
        background-color: #ffc400;
        border:5px solid #039B00;
    }
}
